@mixin flexing($display, $justify, $align) {
  display: $display;
  justify-content: $justify;
  align-items: $align;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Dosis", sans-serif;
}

.trigger > button,
#container {
  border: 1px solid white;
}

body {
  @include flexing(flex, center, center);
  flex-direction: column;
  gap: 20px;
  height: 100vh;
  background-image: linear-gradient(
    to bottom right,
    rgb(255, 119, 237),
    yellow
  );

  .trigger {
    button {
      width: 100px;
      height: 40px;
      background-color: rgba(255, 255, 255, 0.587);
      border-radius: 5px;
      cursor: pointer;
    }

    button:hover {
      background-color: rgba(255, 255, 255, 0.797);
    }
  }

  #container {
    max-width: 1000px;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.354);
    border-radius: 10px;
  }
}
